# Ignore Python virtual environments
venv/
**/venv/
spam-env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore Streamlit .streamlit folder (optional)
.streamlit/

# Ignore environment files
.env

# Ignore model/data outputs
*.pkl
*.h5


# Ignore temporary OS files
.DS_Store
Thumbs.db

# Ignore IDE configs
.idea/
